<html>
    <head>
        <title>{{ title }} - Mad Libs</title>
    </head>
    <body>
        <h1>Thank you for submitting your text! Please input your words here.</h1>
        <form action='' method='post' novalidate>
            {% for word_index in indexes %}
            <p>
                {{ form.write_your_own.label }} {{ matched_words[word_index] }}
                {{ form.write_your_own(id=word_index) }}
            </p>
            {% endfor %}

            <p>
            {{form.submit()}}
            </p>
        </form>
    </body>
</html>
